body{
    color: #777;
    /* background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg); */
    
}
.main-container{
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    margin-top: -2rem;
    /* background: darkgrey; */
}


#sec {
    border: solid;
    border-radius: 9px;
    width: 20vw;
    height: 71vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 5px 5px 10px black;
    /* background-color: #fff; */
}

/* #sec span{
    font-size: 28px;
    margin-top: 5rem;
} */

#sec hr{
    width: 15vw;
}

#sec h1 {
    font-size: 3rem;
}
#sec button{
    margin-top: 0.7rem;
}
#f-button{
    width: 13rem;
    font-size: 9px;
    font-weight: 600;
    padding: 10px 0px;
    border-radius: 6px;
    color: #fff;
    background: hsl(237, 63%, 64%);
    border: none;
}
#f-button:hover{
    color: hsl(237, 63%, 64%);
    background: #fff;
    border-color: hsl(237, 63%, 64%);
    /* border: hsl(237, 63%, 64%); */
    border-style: solid;
}
.loi{
    background: #fff;
    background-color: #fff;
    border-color: hsl(237, 63%, 64%);
    border: hsl(237, 63%, 64%);
    border-style: solid;
}

#sec h3{

}
.two{
    background: hsl(237, 63%, 64%);
    color: #fff; 
    height: 74vh !important;  
    /* margin-top: -1rem !important; */
    /* box-shadow: 5px 5px 30px black; */
}
#span-l{
    font-size: 2.3rem;
}

.firb{
    justify-content: center;
    margin-left: 34.5rem;
    margin-top: 5rem;
    background: hsl(237, 63%, 64%);
    /* border-radius: 1rem; */
    color: #fff;
    height: 2rem;
    width: 8rem;
    border-style: none;
    font-weight: 800;
    cursor: grabbing;

}
.first-basic{
    background: #fff;
}

 /* .new{
    background-color: hsl(237, 63%, 64%);
    color: #fff;
    text-emphasis-color: #fff;
 }   */



@media  screen and(max-width: 500px) {
    body {
        display: flex;
    }

    /* .overall{
        display: flex;
        flex-direction: column;
        height: 100vh;
        text-align: center;
        margin-top: 13rem;
        justify-content: center;
        margin-top: 8rem;
    } */
}
